{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'image/favicon.png' %}"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<header>
    {% include 'partials/header.html' %}
</header>

<body>
<div class="flex">
    <aside>
        {% include 'partials/sidebar.html' %}
    </aside>
    <section class="p-4">
        {% block content %}{% endblock %}
    </section>
</div>
</body>

<footer>
    {% include 'partials/footer.html' %}
</footer>

</html>