/* General Styles */
* {
    font-family: "Vazirmatn FD";
}

.success {
    padding: 1rem;
    background-color: #1e8449;
    border-radius: 1rem;
    color: white;
    margin: 1rem 0;
}

.info {
    padding: 1rem;
    background-color: cornflowerblue;
    border-radius: 1rem;
    color: white;
    margin: 1rem 0;
}